{{template "base" .}}
{{define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <img src="../static/images/deluxe-suite.png" class="img-fluid img-thumbnail mx-auto d-block room-image"
        alt="standard-suite" />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1 class="text-center mt-4" id="room-type" data-roomid="2" >Deluxe Suite</h1>
      <p class="text-center">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Repellat non repellendus, natus assumenda vitae unde totam sint facere modi nobis
        soluta placeat officia, ut voluptatibus, qui perferendis nisi laudantium hic?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Repellat non repellendus, natus assumenda vitae unde totam sint facere modi nobis
        soluta placeat officia, ut voluptatibus, qui perferendis nisi laudantium hic?
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <button id="check-availability" class="btn btn-success">Check Availability</button>
    </div>
  </div>
</div>
{{end}}

{{define "js"}}
<script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/js/datepicker-full.min.js"></script>
<script src="https://unpkg.com/notie"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/static/scripts/room.js" type="module"></script>
{{end}}