{{template "admin" .}}

{{define "page-title"}}
    Reservations Calendar
{{end}}

{{define "content"}}

{{$now := index .Data "now"}}
{{$rooms := index .Data "rooms"}}
{{$daysInMonth := index .IntMap "days-in-month"}}
{{$currentMonth := index .StringMap "this-month"}}
{{$currentYear := index .StringMap "this-month-year"}}

<div class="col-md-12">
  <div class="text-center">
    <h3>
      {{formatDate $now "January"}} {{formatDate $now "2006"}}
    </h3>
  </div>
  <div class="float-left">
    <a 
      class="btn btn-sm btn-outline-secondary"
      href="/admin/reservations-calendar?y={{index .StringMap "last-month-year"}}&m={{index .StringMap "last-month"}}"
    >
      Previous Month
    </a>
  </div>
  <div class="float-right">
    <a 
      class="btn btn-sm btn-outline-secondary"
      href="/admin/reservations-calendar?y={{index .StringMap "next-month-year"}}&m={{index .StringMap "next-month"}}"
    >
      Next Month
    </a>
  </div>
  <div class="clearfix"></div>
  <form method="post" action="/admin/reservations-calendar">
    <input type="hidden" name="csrf_token" value={{.CSRFToken}}>
    <input type="hidden" name="m" value={{$currentMonth}}>
    <input type="hidden" name="y" value={{$currentYear}}>
    {{range $rooms}}
      {{$roomID := .ID}}
      {{$blocks := index $.Data (printf "block-map-%d" .ID)}}
      {{$reservations := index $.Data (printf "reservation-map-%d" .ID)}}
  
      <div class="calendar mt-4">
        <h4>{{.RoomName}}</h4>
        <div class="table-response">
          <table class="table table-bordered table-sm">
            <tr class="table-dark">
              {{range $index := iterate $daysInMonth}}
                <td class="text-center">
                  {{$index}}
                </td>
              {{end}}
            </tr>
            <tr class="table-dark">
              {{range $index := iterate $daysInMonth}}
                <td class="text-center">
                  {{if gt (index $reservations (printf "%s-%s-%d" $currentYear $currentMonth $index)) 0}}
                      <a href="/admin/reservations/cal/{{index $reservations (printf "%s-%s-%d" $currentYear $currentMonth $index)}}">
                          <span class="text-danger">R</span>
                      </a>
                  {{else}}
                  <input 
                    {{if gt (index $blocks (printf "%s-%s-%d" $currentYear $currentMonth $index)) 0}}
                      checked
                      name="remove-block-{{$roomID}}-{{printf "%s-%s-%d" $currentYear $currentMonth $index}}"
                      value="{{index $blocks (printf "%s-%s-%d" $currentYear $currentMonth $index)}}"
                    {{else}}
                      name="add-block-{{$roomID}}-{{printf "%s-%s-%d" $currentYear $currentMonth $index}}"
                      value="1"
                    {{end}}
                    type="checkbox" 
                    name="" 
                    id=""
                  >
                  {{end}}
                </td>
              {{end}}
            </tr>
          </table>
        </div>
      </div>
    {{end}}
      <hr>
      <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{{end}}