{{template "base" .}}
{{define "content"}}
<div class="container my-5">
  <div class="row">
    <div class="col">
      <h1>About 4star on Regent</h1>
      <hr>
      <div class="row">
        <div class="col-md-8">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta, similique mollitia suscipit at sunt excepturi quos, reiciendis est qui vero architecto voluptate, corrupti in magnam quidem tenetur dolores voluptatem? Doloribus.
            Voluptate, expedita voluptas in praesentium, fugit dolorem asperiores dolor quam nostrum neque, omnis maxime quia a. Aspernatur ipsam, dolorum dolores, laborum cum at excepturi nesciunt tempora, tenetur ipsum repudiandae distinctio.
            Qui assumenda fugiat at placeat necessitatibus debitis ea blanditiis quidem itaque quaerat, quis delectus sit dolore autem nulla fugit aperiam! Repudiandae molestiae doloribus cupiditate tenetur consequuntur sunt explicabo possimus vitae!
          </p>          
        </div>
        <div class="col-md-4">
          <img class="img-thumbnail rounded float-right" alt="outside" src="/static/images/outside.png">
        </div>
      </div>
      <div class="row mt-3">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea id earum numquam, voluptatem eaque ipsam cupiditate! Voluptatibus non sed animi ullam dolorem, officia repudiandae deserunt aspernatur ducimus, tempora amet quaerat?
        </p>    
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia expedita placeat iure illo assumenda deserunt similique. Soluta consequatur officia, cum earum aliquid accusamus minus provident blanditiis fuga optio quos laudantium?
          Voluptatibus ut corrupti incidunt natus molestiae, minus esse quod dignissimos minima impedit eum alias! Recusandae ab maxime optio magnam, culpa sequi eius quisquam adipisci voluptas impedit, odio accusamus sit. Perferendis.
          Placeat, nam animi. Quis at dignissimos neque aperiam quaerat! Veritatis fuga consequuntur quae sit eligendi, architecto totam blanditiis possimus ipsum, cumque ipsa nesciunt ea quas? Vitae cum enim et earum.
          Repudiandae, harum dolore saepe ipsam a doloribus rem voluptatem facere autem non inventore iure, voluptatum dolorem deserunt ad, illo illum fugit facilis aliquam. Aliquam quisquam, doloribus ipsam quidem consectetur asperiores.
        </p>
      </div>
    </div>
  </div>
</div>
{{end}}