{{template "base" .}}
{{define "content"}}
<div class="container">
  <div class="row my-5">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      {{$reservation := index .Data "reservation" }}
      <h1>Make a Reservation</h1>
      <p><strong>Reservation Details</strong></p>
      <p>Room: {{$reservation.Room.RoomName}}</p>
      <p>Arrival: {{index .StringMap "start-date" }}</p>
      <p>Departure: {{index .StringMap "end-date" }}</p>
      <form action="/book" method="POST" class="reservation-form needs-validation" novalidate>
        <div class="form-group mt-3 mb-3">
          <input type="hidden" name="csrf_token" value={{.CSRFToken}}>
          <input type="hidden" name="start-date" value="{{index .StringMap "start-date"}}">
          <input type="hidden" name="end-date" value="{{index .StringMap "end-date"}}">
          <input type="hidden" name="room-id" value="{{$reservation.RoomID}}">
          <label for="first-name">First Name:</label>
          {{ with .Form.Errors.Get "first-name" }}
            <label class="text-danger">{{.}}</label>
          {{end}}
          <input 
            class="form-control {{ with .Form.Errors.Get "first-name" }} is-invalid {{end}}" 
            type="text"
            name="first-name" 
            id="first-name" 
            required 
            autocomplete="off"
            value="{{$reservation.FirstName}}"
          >
        </div>
        <div class="form-group mb-3">
          <label for="last-name">Last Name:</label>
          {{ with .Form.Errors.Get "last-name" }}
            <label class="text-danger">{{.}}</label>
          {{end}}
          <input 
            class="form-control {{ with .Form.Errors.Get "last-name" }} is-invalid {{end}}" 
            type="text" 
            name="last-name" 
            id="last-name" 
            required autocomplete="off"
            value="{{$reservation.LastName}}"
          >
        </div>
        <div class="form-group mb-3">
          <label for="email">Email:</label>
          {{ with .Form.Errors.Get "email" }}
            <label class="text-danger">{{.}}</label>
          {{end}}
          <input 
            class="form-control {{ with .Form.Errors.Get "email" }} is-invalid {{end}}" 
            type="email" 
            name="email" 
            id="email" 
            required 
            autocomplete="off"
            value="{{$reservation.Email}}"
          >
        </div>
        <div class="form-group mb-3">
          <label for="address">Phone Number:</label>
          {{ with .Form.Errors.Get "phone" }}
            <label class="text-danger">{{.}}</label>
          {{end}}
          <input 
            class="form-control {{ with .Form.Errors.Get "phone" }} is-invalid {{end}}" 
            type="text" 
            name="phone" 
            id="phone" 
            required autocomplete="off"
            value="{{$reservation.Phone}}"
          >
        </div>
        <button type="submit" class="btn btn-primary">Make Reservation</button>
      </form>
    </div>
  </div>
</div>
{{end}}

{{define "js"}}
<script src="/static/scripts/book.js" type="module"></script>
{{end}}