{{template "base" .}}
{{define "content"}}
<div class="container">
  <div class="row my-5">
    <div class="col">
      <h1>Contact 4star on Regent</h1>
    </div>
    <hr>
  </div>
  <div class="row">
    <div class="col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1565.4779578491657!2d146.80701910829683!3d-38.303689144916646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b2931c1da33f61b%3A0x67dfa295ef209a9d!2sWillung!5e0!3m2!1sen!2sau!4v1632610177062!5m2!1sen!2sau" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div class="col-md-6">
      <h3>Details</h3>
      <p><strong>4star on Regent</strong></p>
      <p>123 fake street</p>
      <p>fake suburb, fake state</p> 
      <p>Australia, 1234</p>
      <p>0412345678</p>
      <a href="mailto:clintonforster@gmail.com">contact@4staronregent.com</a>
    </div>
  </div>
</div>
{{end}}