main {
  min-height: 60vh;
}
.room-image {
  max-width: 50%;
}

.datepicker {
  z-index: 10000;
}

footer {
  background-color: #163b65;
  margin-top: 25px;
  /* height: 200px; */
  padding: 25px;
}

.footer__right {
  text-align: right !important;
}

footer p {
  color: white;
}
